<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.0.0-alpha0303" targetFramework="net472" />
  <package id="ExcelFormulaParser" version="1.0.1" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.0.0-alpha0391" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="17.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="17.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.SfCellGrid.WPF" version="17.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.SfDiagram.WPF" version="17.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.SfGridCommon.WPF" version="17.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.SfShared.WPF" version="17.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.SfSpreadsheet.WPF" version="17.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="17.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.Tools.WPF" version="17.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.Wpf" version="17.1.0.51" targetFramework="net472" />
</packages>